.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}

.item:hover {
  transform: scale(1.1);
  transition: transform 0.3s linear;
}

.img {
  width: 300px;
}

.descr {
  text-align: center;
}

.pag {
  display: flex;
  justify-content: space-around;
  background: rgb(119, 214, 40);
  height: 80px;
}
